/* Girl Guides have two font families */

/* Primary Font Family for all text is Poppins --------------------------------*/

.poppins-thin {
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-weight: 900;
	font-style: italic;
}

/* Apply Poppins font to all .poppins- classes above --------------------*/
[class*="poppins-l-"] {
	font-family: "Poppins", sans-serif;
}

/* Secondary font is Zilla Slab ---------------------------- */
.zilla-slab-light {
	font-weight: 300;
	font-style: normal;
}

.zilla-slab-regular {
	font-weight: 400;
	font-style: normal;
}

.zilla-slab-medium {
	font-weight: 500;
	font-style: normal;
}

.zilla-slab-semibold {
	font-weight: 600;
	font-style: normal;
}

.zilla-slab-bold {
	font-weight: 700;
	font-style: normal;
}

.zilla-slab-light-italic {
	font-weight: 300;
	font-style: italic;
}

.zilla-slab-regular-italic {
	font-weight: 400;
	font-style: italic;
}

.zilla-slab-medium-italic {
	font-weight: 500;
	font-style: italic;
}

.zilla-slab-semibold-italic {
	font-weight: 600;
	font-style: italic;
}

.zilla-slab-bold-italic {
	font-weight: 700;
	font-style: italic;
}

/* Apply Zilla Slab font to all .zilla- classes ---------*/
[class*="zilla-slab"] {
	font-family: "Zilla Slab", serif;
}
